<!DOCTYPE html>
<%
  page_title = yield_if_set(:page_title, current_page.data.page_title)
  page_description = :page_description
%>
<html lang="<%= data.site.lang || 'en' %>">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= partial 'partials/head_title' %>
    <%= partial 'partials/head_stylesheets' %>
    <%= partial 'partials/head_preload' %>
    <%= partial 'partials/head_dns_prefetch' %>
    <%= partial 'partials/head_pwa' %>
    <%= partial 'partials/head_opengraph', locals: {:page_title => page_title, :page_description => page_description} %>
    <%= partial 'partials/head_svgs' %>
  </head>
  <body class="<%= get_page_class() %>">
    <header>
      <h1><a href="<%= config[:base_url] %>"><%= data.site.name %></a></h1>
    </header>
    <%= partial 'partials/main_menu' %>
    <%= partial 'partials/body_notices' if data.content.include? 'notices' %>
    <article>
      <header>
        <% if content_for? :page_masthead_image %>
        <div class="header_masthead" style="background-image: url(<%= yield_content :page_masthead_image %>);">
        <% else %>
        <div class="header_masthead">
        <% end %>
          <div class="masthead_content">
            <% if content_for? :page_heading %>
              <h1 class="heading heading_page faux_column"><%= yield_content :page_heading %></h1>
            <% end %>
            <% if content_for? :page_masthead_text %>
              <div class="faux_column"><%= yield_content :page_masthead_text %></div>
            <% end %>
          </div>
        </div>
        <% if content_for? :page_intro %>
          <div class="page_intro faux_column">
            <%= yield_content :page_intro %>
          </div>
        <% end %>
      </header>
      <%= yield %>
    </article>
    <% if current_page.url == '/' %>
    <script src="<%= asset_path(:js, 'script.home') %>"></script>
    <% end %>
    <script src="<%= asset_path(:js, 'script.main') %>"></script>
  </body>
</html>
