<!DOCTYPE html>
<%
  page_title = yield_if_set(:page_title, current_page.data.page_title)
  page_description = :page_description
%>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="<%= data.site.lang || 'en' %>">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= partial 'partials/head_title' %>
    <%= partial 'partials/head_stylesheets' %>
    <%= partial 'partials/head_preload' %>
    <%= partial 'partials/head_preconnect' %>
    <%= partial 'partials/head_pwa' %>
    <%= partial 'partials/head_opengraph', locals: {:page_title => page_title, :page_description => page_description} %>
    <%= partial 'partials/head_dnt_check' %>
    <%= partial 'partials/head_google_analytics' %>
    <%= partial 'partials/head_svgs' %>
  </head>
  <body class="<%= get_page_class() %>">
    <header>
      <h1>
        <a href="<%= config[:base_url] %>">
          <svg focusable="false" fill="#ff7f00">
            <use xlink:href="#logo_queen_crown"/>
          </svg>
          <%= data.site.name %>
        </a>
      </h1>
    </header>
    <%= partial 'partials/main_menu' %>
    <%= partial 'partials/body_notices' if data.content.include? 'notices' %>
    <article>
      <header>
        <% if content_for? :page_masthead_image %>
        <div class="header_masthead" style="background-image: url(<%= yield_content :page_masthead_image %>?fm=jpg&fl=progressive&q=70&w=1280);">
        <% else %>
        <div class="header_masthead">
        <% end %>
          <div class="masthead_content">
            <% if content_for? :page_heading %>
              <h1 class="heading heading_page faux_column"><%= yield_content :page_heading %></h1>
            <% end %>
            <% if content_for? :page_masthead_text %>
              <div class="faux_column"><%= yield_content :page_masthead_text %></div>
            <% end %>
          </div>
        </div>
        <% if content_for? :page_intro %>
          <div class="page_intro faux_column">
            <%= yield_content :page_intro %>
          </div>
        <% end %>
      </header>
      <%= yield %>
    </article>
    <footer>
      <div class="faux_column">
        <h2>Get in touch</h2>
        <p>Phone Gary on <a href="tel:+64277333424">027 733 3424</a></p>
        <p>E-mail <a href="mailto:gary@southernsun.co.nz">gary@southernsun.co.nz</a></p>
      </div>
      <div class="faux_column fine_print">
        <p>Images courtesy of Wikipedia, Casey Upchurch, and Bob</p>
      </div>
    </footer>
    <%= partial 'partials/footer_scripts' %>
  </body>
</html>
