<nav>
  <label for="mobile-menu-state" id="nav-toggle" aria-label="Toggle navigation menu" aria-expanded="false">
      <svg class="icon_menu" focusable="false">
        <use href="#icon_menu"/>
      </svg>
  </label>
  <ul class="menu" id="menu">
    <% get_top_level_menu_items().each do |page| %>
      <li>
        <% if current_page.url.parameterize.include? page.url %>
          <% if page.url == current_page.url.parameterize %>
            <strong><%= page.page_name %></strong>
          <% else %>
            <a href="<%= config[:base_url] + page.url %><%= "/" unless page.url.end_with? "/" %>"><strong><%= page.page_name %></strong></a>
          <% end %>
        <% else %>
        <a href="<%= config[:base_url] + page.url %><%= "/" unless page.url.end_with? "/" %>"><%= page.page_name %></a>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
