<div itemscope itemtype="http://schema.org/Product" class="media_block">
  <div class="mb_content product_content">
    <h4 itemprop="name" class="heading heading_subheading"><%= product.title %></h4>
    <div itemprop="description"><%= Kramdown::Document.new(product.summary).to_html %></div>
    <p class="call_to_action"><a href="/products/<%= product.slug %>"><%= product.title %></a></p>
    <div hidden itemprop="offers" itemscope itemtype="https://schema.org/Offer">
      <span itemprop="priceCurrency" content="NZD">$</span>
      <span itemprop="price">
        <% if product.price_maximum %>
          <%= product.price_minimum.to_i %> to <%= product.price_maximum.to_i %>
        <% else %>
          <%= product.price_minimum.to_i %>
        <% end %>
      </span>
      <link itemprop="availability" href="https://schema.org/InStock" />In stock
    </div>
  </div>
  <% if product.photo %>
  <div class="mb_image">
    <img itemprop="image" class="product_image" src="<%= "#{product.photo.url}?fm=jpg&fl=progressive&q=70&w=800" %>" alt="<%= product.title %>">
  </div>
  <% end %>
</div>
