<div itemscope itemtype="http://schema.org/Product" class="media_block">
  <div class="mb_content product_content">
    <h2 itemprop="name" class="heading heading_subheading"><%= product.title %></h2>
    <div itemprop="description"><%= Kramdown::Document.new(product.summary).to_html %></div>
    <% if product.available_for_order == true %>
    <p class="call_to_action"><a href="mailto:orders@southernsun.co.nz?subject=Web product order: <%= product.title %>" class="button button_primary">Order now</a></p>
    <% else %>
    <p class="call_to_action"><a href="mailto:gary@southernsun.co.nz?subject=Web product enquiry: <%= product.title %>" class="button button_secondary">Enquire</a></p>
    <% end %>
  </div>
  <% if product.photo %>
  <div class="mb_image">
    <img itemprop="image" class="product_image" src="<%= "#{product.photo.url}?fm=jpg&fl=progressive&q=70&w=800" %>" alt="<%= product.title %>">
  </div>
  <% end %>
</div>
