<div itemscope itemtype="http://schema.org/Service" class="media_block">
  <div class="mb_content service_content">
    <h4 itemprop="serviceType" class="heading heading_subheading"><%= service.title %></h4>
    <div itemprop="description"><%= Kramdown::Document.new(service.service_summary).to_html %></div>
    <% if service.available_for_order == true %>
    <p class="call_to_action"><a href="mailto:orders@southernsun.co.nz?subject=Web service order: <%= service.title %>" class="button button_primary">Contact us</a></p>
    <% else %>
    <p class="call_to_action"><a href="mailto:gary@southernsun.co.nz?subject=Web service enquiry: <%= service.title %>" class="button button_secondary">Enquire</a></p>
    <% end %>
  </div>
  <% if service.photo %>
  <div class="mb_image">
    <img itemprop="image" class="service_image" src="<%= "#{service.photo.url}?fm=jpg&fl=progressive&q=70&w=800" %>" alt="<%= service.title %>">
  </div>
  <% end %>
</div>
