<%
  product_page = locals[:product_page]
  content_for :page_title, product_page.title
  content_for :page_heading, product_page.title
  content_for :page_description, product_page.summary
  # content_for :page_image_url, page.social_image.url if page.social_image
%>

<div class="product_sidebar">
  <photo-switcher>
    <figure>
      <img src="<%= product_page.photo.url %>" alt="<%= product_page.photo.title || "" %>">
      <% if product_page.photo.description %>
        <figcaption>
          <%= product_page.photo.description %>
        </figcaption>
      <% end %>
    </figure>
    <% if product_page.secondary_photos && product_page.secondary_photos.count > 0 %>
      <ul>
        <li>
          <a href="<%= product_page.photo.url %>">
            <img loading="lazy" width="64" height="64" src="<%= product_page.photo.url %>" alt="<%= product_page.photo.title || "" %>">
          </a>
        </li>
        <% product_page.secondary_photos.each do |photo| %>
          <li>
            <a href="<%= photo.url %>">
              <img loading="lazy" width="64" height="64" src="<%= photo.url %>" alt="<%= photo.title || "" %>">
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </photo-switcher>
  <% if product_page.available_for_order == true %>
    <%= partial 'partials/product-page/order_form' %>
  <% end %>
</div>


<section class="product_info" aria-labelledby="heading_product_info">
  <header>
    <h2 id="heading_product_info" class="heading heading_subheading">Product information</h2>
  </header>
  <div class="product_criticals">
    <dl>
      <div>
        <dt>Price</dt>
        <dd>
          <% if product_page.price_maximum %>
            $<%= product_page.price_minimum.to_i %> to <%= product_page.price_maximum.to_i %>
          <% else %>
            $<%= product_page.price_minimum.to_i %>
          <% end %>
          <small>(Price is per item, excluding <abbr title="General Sales Tax">GST</abbr>, and in <abbr title="New Zealand Dollars">NZD</abbr>)</small>
        </dd>
      </div>
      <div>
        <dt>Order size</dt>
        <dd>
          <% if product_page.order_quantity_maximum %>
            <%= product_page.order_quantity_minimum %> to <%= product_page.order_quantity_maximum %>
          <% else %>
            <%= product_page.order_quantity_minimum %>
          <% end %>
        </dd>
      </div>
      <div>
        <dt>Available types</dt>
        <dd>
          <ul>
            <% product_page.product_types.each do |type| %>
              <li>
                <%= type %>
              </li>
            <% end %>
          </ul>
        </dd>
      </div>
      <div>
        <dt>Availability</dt>
        <dd>
          <% if product_page.availability_start_date %>
            <time datetime="<%= product_page.availability_start_date %>">
              <%= Date.parse(product_page.availability_start_date).strftime('%B %d, %Y') %>
            </time>
          <% end %>
          <% if product_page.availability_end_date %>
            <% if product_page.availability_start_date %>
              to
            <% else %>
              Until
            <% end %>
            <time datetime="<%= product_page.availability_start_date %>">
              <%= Date.parse(product_page.availability_end_date).strftime('%B %d, %Y') %>
            </time>
          <% end %>
        </dd>
      </div>
    </dl>
  </div>

  <div class="product_description">
    <%= Kramdown::Document.new(product_page.description).to_html %>
  </div>

  <details open class="product_info_section">
    <summary class="heading heading_subheading">About our <%= product_page.title %></summary>
    <%= rich_text(product_page.about_this_product) %>
  </details>

  <details open class="product_info_section">
    <summary class="heading heading_subheading">Ordering <%= product_page.title %></summary>
    <%= rich_text(product_page.order_information) %>
  </details>

  <details open class="product_info_section">
    <summary class="heading heading_subheading">Payment and delivery information</summary>
    <%= rich_text(product_page.payment_and_delivery_details) %>
  </details>
</section>
